<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hospital Tecnológico</title>
    <!--

Template 2098 Health

http://www.tooplate.com/view/2098-health

-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    />
  </head>
  <body
    id="top"
    data-spy="scroll"
    data-target=".navbar-collapse"
    data-offset="50"
  >

    <!-- MENU -->
    <nav class="navbar navbar-expand-lg " style="background-color: #095a68;">
      <!-- lOGO TEXT HERE -->
      <a href="index.html" class="navbar-brand" style="color: white;"
      ><i class="fa fa-h-square"></i> Centro de salud</a
    >
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active" style="padding-right: 2rem;">
            <a class="nav-link" href="#top" style="color: white;">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active" style="padding-right: 2rem;">
            <a class="nav-link" href="#about" style="color: white;">Acerca de nosotros <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active" style="padding-right: 2rem;">
            <a class="nav-link" href="#news" style="color: white;">Servicios <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active" style="padding-right: 2rem;">
            <a class="nav-link" href="#footer" style="color: white;">Contacto <span class="sr-only">(current)</span></a>
          </li>
        </ul>
          <form class="form-inline my-2 my-lg-0">
            <a href="#appointment" class="btn btn-info" role="button">Ingresar</a>
          </form>
          <form class="form-inline my-2 my-lg-0" style="padding-left: 2rem;">
            <a href="#register" class="btn btn-light" role="button">Registrarse</a>
          </form>
      </div>
    </nav>

    <!-- ABOUT -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="about-info">
              <h2 class="wow fadeInUp" data-wow-delay="0.6s">
                Bienvenido a tu <i></i>Centro de salud
              </h2>
              <div class="wow fadeInUp" data-wow-delay="0.8s">
                <p>
                  En el Hospital Tecnológico tu salud nos importa tanto como la
                  de nuestros seres queridos
                </p>
                <p>
                  Este proyecto nace en pos de brindar mayores servicios a la
                  población, sin altos costos y con un completo sistema virtual
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- NEWS -->
    <section id="news" data-stellar-background-ratio="2.5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <!-- SECTION TITLE -->
            <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
              <h2>Principales servicios</h2>
            </div>
          </div>

          <div class="col-md-4 col-sm-6">
            <!-- NEWS THUMB -->
            <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
              
                <img
                  src="../../../../assets/images/news-image1.jpg"
                  class="img-fluid"
                  alt="Responsive image"
                />
              
              <div class="news-info">
                <span>Juio 30, 2020</span>
                <h3><a>Cirugía para la lumbalgia</a></h3>
                <p style="text-align: justify;">
                  Previsiblemente, la cirugía de espalda suele aliviar el dolor
                  o el entumecimiento asociados que descienden hacia un brazo o
                  una pierna o hacia ambos.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6">
            <!-- NEWS THUMB -->
            <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">
              <a href="news-detail.html">
                <img
                  src="../../../../assets/images/news-image2.jpg"
                  class="img-fluid"
                  alt="Responsive image"
                />
              </a>
              <div class="news-info">
                <span>Agosto 01, 2020, 2020</span>
                <h3><a href="news-detail.html">Cirugía de cataratas</a></h3>
                <p style="text-align: justify;">
                  La cirugía de cataratas, es la extracción de la lente natural
                  del ojo que ha desarrollado una opacificación, que se conoce
                  como catarata, y su reemplazo con una lente intraocular.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6">
            <!-- NEWS THUMB -->
            <div class="news-thumb wow fadeInUp" data-wow-delay="0.8s">
              <a href="news-detail.html">
                <img
                  src="../../../../assets/images/news-image3.jpg"
                  class="img-fluid"
                  alt="Responsive image"
                />
              </a>
              <div class="news-info">
                <span>Agosto 05, 2020</span>
                <h3><a>Biopsia de mama</a></h3>
                <p style="text-align: justify;">
                  Una biopsia de seno es un procedimiento en el que se extrae
                  una pequeña muestra de tejido mamario para hacer pruebas. El
                  tejido se examina con un microscopio para detectar cáncer de
                  seno.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- MAKE AN APPOINTMENT -->
    <section id="appointment" data-stellar-background-ratio="3">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <img
              src="../../../../assets/images/appointment-image.jpg"
              class="img-fluid"
            />
          </div>

          <div class="col-md-6 col-sm-6">
            <!-- CONTACT FORM HERE -->
            <form id="appointment-form" role="form" method="post" action="#">
              <!-- SECTION TITLE -->
              <div
                class="section-title wow fadeInUp"
                style="text-align: center;"
                data-wow-delay="0.4s"
              >
                <h2>Ingresar al hospital</h2>
              </div>

              <div class="wow fadeInUp" data-wow-delay="0.8s">
                <div class="col-md-12 col-sm-12" style="text-align: center;">
                  <label for="user" style="padding-top: 5rem;">Usuario</label>
                  <input
                    style="text-align: center;"
                    type="user"
                    class="form-control"
                    id="user"
                    name="user"
                    required
                    ngModel
                    #user="ngModel"
                    placeholder="Ingrese un usuario"
                  />
                  <label for="Message" style="padding-top: 6rem;"
                    >Contraseña</label
                  >
                  <input
                    style="text-align: center;"
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    required
                    ngModel
                    #password1="ngModel"
                    placeholder="Ingrese una contraseña"
                  />
                  <button
                    type="submit"
                    class="form-control"
                    id="cf-submit"
                    name="submit"
                    (click)="login(user.value, password1.value)"
                  >
                    Ingresar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Register -->
    <section id="register" data-stellar-background-ratio="3">
    <div class="page-content py-3" id="content">
      <div class="container">
        <!-- Form -->
        <div class="row">
          <div class="col-md-12">
            <!--Add patient-->
            <form id="appointment-form2" role="form" method="post" action="#">
              <div class="container register">
                <div class="row">
                  <div class="col-md-12 register-right">
                    <div class="tab-content" id="myTabContent">
                      <div
                        class="tab-pane fade show active"
                        id="home"
                        role="tabpanel"
                        aria-labelledby="home-tab"
                      >
                      <div
                      class="section-title wow fadeInUp"
                      style="text-align: center;"
                      data-wow-delay="0.4s"
                    >
                      <h2>Creación de usario</h2>
                    </div>
                        <div class="row register-form">
                          <div class="col-md-6">
                            <!--Name Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Nombre</h5>
                              <input
                                type="text"
                                required
                                ngModel
                                name="name"
                                #name="ngModel"
                                class="form-control"
                                placeholder="Nombre *"
                                value=""
                              />
                              <div
                                class="alert alert-danger"
                                *ngIf="name.touched && !name.valid"
                              >
                                Debe ingresar un nombre válido.
                              </div>
                            </div>
                            <!--/Name Input-->

                            <!--LastName Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Apellidos</h5>
                              <input
                                required
                                type="text"
                                ngModel
                                name="lastName"
                                #lastName="ngModel"
                                class="form-control"
                                placeholder="Apellidos *"
                                value=""
                              />
                              <div
                                class="alert alert-danger"
                                *ngIf="lastName.touched && !lastName.valid"
                              >
                                Debe ingresar un apellido válido.
                              </div>
                            </div>
                            <!--/LastName Input-->

                            <!--Dni Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Cédula</h5>
                              <h5 style="font-size: 0.8rem;">* Esta será su usuario</h5>
                              <input
                                required
                                type="number"
                                ngModel
                                pattern="[0-9]{9}"
                                class="form-control"
                                name="dni"
                                placeholder="Cédula *"
                                value=""
                                #dni="ngModel"
                              />
                              <div
                                class="alert alert-danger"
                                *ngIf="dni.touched && !dni.valid"
                              >
                                <div *ngIf="dni.errors?.required">
                                  Debe ingresar un código.
                                </div>
                                <div *ngIf="dni.errors?.pattern">
                                  El código debe ser de 9 dígitos.
                                </div>
                              </div>
                            </div>
                            <!--/Dni Input-->

                            <!--Password Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Contraseña</h5>
                              <input
                                type="text"
                                required
                                ngModel
                                name="password"
                                #password="ngModel"
                                class="form-control"
                                placeholder="Contraseña *"
                              />
                              <div
                                class="alert alert-danger"
                                *ngIf="password.touched && !password.valid"
                              >
                                Debe ingresar una contraseña válida.
                              </div>
                            </div>
                            <!--/Password Input-->


                            <!-- Date Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Fecha de nacimiento</h5>
                              <input
                                type="date"
                                required
                                ngModel
                                name="date"
                                #date="ngModel"
                                class="form-control"
                                placeholder="Password *"
                                value=""
                              />
                              <div
                                class="alert alert-danger"
                                *ngIf="date.touched && !date.valid"
                              >
                                Debe ingresar una fecha válida.
                              </div>
                            </div>
                            <!-- /Date Input-->

                            <!-- Phone Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Teléfono</h5>
                              <input
                                type="number"
                                required
                                ngModel
                                name="phone"
                                #phone="ngModel"
                                class="form-control"
                                placeholder="Teléfono *"
                                value=""
                              />
                              <div
                                class="alert alert-danger"
                                *ngIf="phone.touched && !phone.valid"
                              >
                                Debe ingresar un teléfono válido.
                              </div>
                            </div>
                            <!-- /Phone Input-->

                            <div class="form-group"></div>
                          </div>
                          <div class="col-md-6">
                            <!-- Province Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Provincia</h5>
                              <select
                                required
                                class="form-control"
                                name="province"
                                ngModel
                                #province="ngModel"
                                (click)="getCanton(province.value)"
                              >
                                <option *ngFor="let province of provinces | keyvalue">
                                  
                                    {{ province.value }}
                                  
                                </option>
                              </select>
                              <div
                                class="alert alert-danger"
                                *ngIf="province.touched && !province.valid"
                              >
                                Debe ingresar una provincia.
                              </div>
                            </div>
                            <!-- /Province Input-->

                            <!-- Canton Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Cantón</h5>
                              <select
                                required
                                class="form-control"
                                name="canton"
                                ngModel
                                #canton="ngModel"
                                (click)="getDistrit(canton.value)"
                              >
                                <option *ngFor="let canton of cantons | keyvalue">
                                  {{ canton.value }}
                                </option>
                              </select>
                              <div
                                class="alert alert-danger"
                                *ngIf="canton.touched && !canton.valid"
                              >
                                Debe ingresar una cantón.
                              </div>
                            </div>
                            <!-- /Canton Input-->

                            <!-- Distict Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Distrito</h5>
                              <select
                                required
                                class="form-control"
                                name="distrit"
                                ngModel
                                #distrit="ngModel"
                              >
                                <option *ngFor="let distrit of distrits | keyvalue">
                                  {{ distrit.value }}
                                </option>
                              </select>
                              <div
                                class="alert alert-danger"
                                *ngIf="distrit.touched && !distrit.valid"
                              >
                                Debe ingresar una distrito.
                              </div>
                            </div>
                            <!-- /Distict Input-->

                            <!-- Address Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Dirección</h5>
                              <input
                                type="textarea"
                                class="form-control"
                                required
                                name="address"
                                ngModel
                                #address="ngModel"
                                placeholder="Dirección *"
                                value=""
                              />
                              <div
                                class="alert alert-danger"
                                *ngIf="address.touched && !address.valid"
                              >
                                Debe ingresar una dirección.
                              </div>
                            </div>
                            <!-- /Address Input-->

                            <!-- Pathology Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Patologías</h5>
                              <input
                                type="textarea"
                                class="form-control"
                                required
                                name="pathology"
                                ngModel
                                #pathology="ngModel"
                                placeholder="Patología *"
                                value=""
                              />
                              <input
                                type="textarea"
                                class="form-control"
                                required
                                name="medicine"
                                ngModel
                                #medicine="ngModel"
                                placeholder="Tratamiento *"
                                value=""
                              />
                              <div
                                class="alert alert-warning"
                                *ngIf="medicine.touched && !medicine.valid"
                              >
                                Debe ingresar datos para poder agregar.
                              </div>
                              <input
                                type="submit"
                                class="btnAdd"
                                value="Añadir"
                                [disabled]="
                                  !(pathology.valid && medicine.valid)
                                "
                                (click)="
                                  addPathology(pathology.value, medicine.value)
                                "
                              />
                            </div>
                            <!-- /Pathology Input-->

                            <!-- Pathology table select  -->
                            <div class="form-group">
                              <h5 style="color: gray;">Lista de Patologías</h5>
                              <div class="scrollbar" id="style-1">
                                <table
                                  class="table table-hover text-center"
                                  data-sort-order="desc"
                                >
                                  <thead>
                                    <tr>
                                      <th scope="col">Nombre</th>
                                      <th scope="col">Medicamento</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr
                                      class="align-middle"
                                      *ngFor="let pathology of pathologyList"
                                    >
                                      <td
                                        class="align-middle"
                                        (click)="deletePathology(pathology)"
                                      >
                                        {{ pathology.name }}
                                      </td>
                                      <td
                                        class="align-middle"
                                        (click)="deletePathology(pathology)"
                                      >
                                        {{ pathology.treatment }}
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- /Pathology table select  -->
                            <button
                            type="submit"
                            class="form-control"
                            id="cf-submit2"
                            name="submit"

                            (click)="send(name.value, lastName.value, dni.value, password.value,
                            date.value, phone.value, province.value, canton.value, distrit.value, address.value)"
                            >
                    Ingresar
                  </button>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            
            
            <!--/Edit Medical history forms-->
          </div>
        </div>
        <!-- /Form -->
      </div>
    </div>
  </section>
    <!-- Register -->

    <!-- FOOTER -->
    <footer data-stellar-background-ratio="5" id="footer" style="background-color: #095a68;">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="footer-thumb">
              <h4 class="wow fadeInUp" data-wow-delay="0.4s" style="color: white;">
                Centro de asistencia al cliente
              </h4>
              <p style="color: white;">
                Dudas o consultas sobre nuestros servicios o asistecia tecnica
              </p>

              <div class="contact-info">
                <p style="color: white;"><i class="fa fa-phone"></i>2550 9180</p>
                <p style="color: white;">
                  <i class="fa fa-envelope-o"></i>
                  <a  style="color: white;" href="#">pramirez@itcr.ac.cr</a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4"></div>

          <div class="col-md-4 col-sm-4">
            <div class="footer-thumb">
              <div class="opening-hours">
                <h4 class="wow fadeInUp" data-wow-delay="0.4s" style="color: white;">
                  Horario del centro hospitalario
                </h4>
                <p style="color: white;">Lunes - Viernes <span>07:30 AM - 6:30 PM</span></p>
                <p style="color: white;">Sábados - Domingos <span>09:00 AM - 4:00 PM</span></p>
                <p style="color: white;">Emergencias <span>24 horas</span></p>
              </div>

              <ul class="social-icon">
                <li>
                  <a
                    href="#"
                    class="fa fa-facebook-square"
                    attr="facebook icon"
                    style="color: white;"
                  ></a>
                </li>
                <li><a href="#" class="fa fa-twitter" style="color: white;"></a></li>
                <li><a href="#" class="fa fa-instagram" style="color: white;"></a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-12 col-sm-12 border-top" >
            <div class="row" style="text-align: center;">
              <div class="col-md-4 col-sm-6">
                <div class="copyright-text">
                  <p style="color: white;"
                    href="https://github.com/BerthaBrenes/HospitalTecnologico-frontend"
                  >
                    Copyright &copy; 2020 ORBE | Design: ORBE Solutions
                  </p>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="footer-link">
                  <a style="color: white;"href="https://github.com/Kstro379">Olman Castro</a>
                  <a style="color: white;"href="https://github.com/Hack998">Randall Méndez</a>
                  <a style="color: white;"href="https://github.com/BerthaBrenes">Bertha Brenes</a>
                  <a style="color: white;"href="https://github.com/estalvgs1999">Esteban Alvarado</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
