<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hospital Tecnológico</title>
  </head>
  <body>
    <!-- Vertical navbar -->
    <div class="vertical-nav" id="sidebar">
      <!-- Logo -->
      <div class="py-4 px-3 mb-4">
        <div class="media d-flex align-items-center">
          <img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png"
            alt="..."
            width="65"
            class="mr-3 shadow-sm"
          />
          <div class="media-body">
            <button type="button" class="btn" onclick="">
              <img
                src="https://cdn4.iconfinder.com/data/icons/internet-security-flat-2/32/Internet_Security_entrance_exit_log_out_arrow-512.png"
                alt="button1"
                style="width: 35%; height: 35%;"
              />
              <div class="card-inner"></div>
            </button>
          </div>
        </div>
      </div>
      <!-- End Logo -->

      <!-- Views -->
      <ul class="nav flex-column mb-0">
        <li class="nav-item">
          <a href="register" class="nav-link">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
            Agregar Pacientes
          </a>
        </li>
        <li class="nav-item">
          <a href="doctor" class="nav-link">
            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
            Gestión de Historiales Clínicos
          </a>
        </li>
      </ul>
      <p
        class="font-weight-bold"
        style="
          font-size: 18px;
          left: 48%;
          transform: translate(-50%, -50%);
          bottom: 0;
          text-align: center;
          font-weight: bold;
          position: absolute;
        "
      >
        Copyright: ORBE
      </p>
      <!-- /Views -->
    </div>
    <!-- End vertical navbar -->

    <!-- Horizontal navbar -->
    <div class="horizontal-nav" id="sidebar">
      <span
        class="px-3 navbar-brand mb-0 h1"
        style="font-size: 35px; font-weight: bold;"
        >Agregar paciente
      </span>
    </div>
    <!-- /Horizontal navbar -->

    <!-- Page content holder -->
    <div class="page-content py-3" id="content">
      <div class="container">
        <!-- Form -->
        <div class="row">
          <div class="col-md-12">
            <!--Add patient-->
            <div
              style="background-color: white; border-radius: 3rem;"
              id="medicalhistory"
            >
              <div class="container register">
                <div class="row">
                  <div class="col-md-12 register-right">
                    <div class="tab-content" id="myTabContent">
                      <div
                        class="tab-pane fade show active"
                        id="home"
                        role="tabpanel"
                        aria-labelledby="home-tab"
                      >
                        <h1 class="register-heading">Creación de Paciente</h1>
                        <div class="row register-form">
                          <div class="col-md-6">
                            <!--Name Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Nombre</h5>
                              <input
                                type="text"
                                required
                                ngModel
                                name="name"
                                #name="ngModel"
                                class="form-control"
                                placeholder="Nombre *"
                                value=""
                              />
                              <div
                                class="alert alert-danger"
                                *ngIf="name.touched && !name.valid"
                              >
                                Debe ingresar un nombre válido.
                              </div>
                            </div>
                            <!--/Name Input-->

                            <!--LastName Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Apellidos</h5>
                              <input
                                required
                                type="text"
                                ngModel
                                name="lastName"
                                #lastName="ngModel"
                                class="form-control"
                                placeholder="Apellidos *"
                                value=""
                              />
                              <div
                                class="alert alert-danger"
                                *ngIf="lastName.touched && !lastName.valid"
                              >
                                Debe ingresar un apellido válido.
                              </div>
                            </div>
                            <!--/LastName Input-->

                            <!--Dni Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Cédula</h5>
                              <input
                                required
                                type="number"
                                ngModel
                                pattern="[0-9]{9}"
                                class="form-control"
                                name="dni"
                                placeholder="Cédula *"
                                value=""
                                #dni="ngModel"
                              />
                              <div
                                class="alert alert-danger"
                                *ngIf="dni.touched && !dni.valid"
                              >
                                <div *ngIf="dni.errors?.required">
                                  Debe ingresar un código.
                                </div>
                                <div *ngIf="dni.errors?.pattern">
                                  El código debe ser de 9 dígitos.
                                </div>
                              </div>
                            </div>
                            <!--/Dni Input-->

                            <!-- Sex Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Sexo</h5>
                              <select
                                required
                                class="form-control"
                                name="sex"
                                ngModel
                                #sex="ngModel"
                              >
                                <option >Masculino</option>
                                <option >Femenino</option>
                              </select>
                              <div
                                class="alert alert-danger"
                                *ngIf="sex.touched && !sex.valid"
                              >
                                Debe ingresar un sexo.
                              </div>
                            </div>
                            <!-- /Sex Input-->

                            <!--Password Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Contraseña</h5>
                              <input
                                type="text"
                                required
                                ngModel
                                name="password"
                                #password="ngModel"
                                class="form-control"
                                placeholder="Contraseña *"
                              />
                              <div
                                class="alert alert-danger"
                                *ngIf="password.touched && !password.valid"
                              >
                                Debe ingresar una contraseña válida.
                              </div>
                            </div>
                            <!--/Password Input-->

                            <!-- Date Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Fecha de nacimiento</h5>
                              <input
                                type="date"
                                required
                                ngModel
                                name="date"
                                #date="ngModel"
                                class="form-control"
                                placeholder="Password *"
                                value=""
                              />
                              <div
                                class="alert alert-danger"
                                *ngIf="date.touched && !date.valid"
                              >
                                Debe ingresar una fecha válida.
                              </div>
                            </div>
                            <!-- /Date Input-->

                            <!-- Phone Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Teléfono</h5>
                              <input
                                type="number"
                                required
                                ngModel
                                name="phone"
                                #phone="ngModel"
                                class="form-control"
                                placeholder="Teléfono *"
                                value=""
                              />
                              <div
                                class="alert alert-danger"
                                *ngIf="phone.touched && !phone.valid"
                              >
                                Debe ingresar un teléfono válido.
                              </div>
                            </div>
                            <!-- /Phone Input-->

                            <div class="form-group"></div>
                          </div>
                          <div class="col-md-6">
                            <!-- Province Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Provincia</h5>
                              <select
                                required
                                class="form-control"
                                name="province"
                                ngModel
                                #province="ngModel"
                                (click)="getCanton(province.value)"
                              >
                                <option *ngFor="let province of provinces | keyvalue">
                                  {{ province.value }}
                                </option>
                              </select>
                              <div
                                class="alert alert-danger"
                                *ngIf="province.touched && !province.valid"
                              >
                                Debe ingresar una provincia.
                              </div>
                            </div>
                            <!-- /Province Input-->

                            <!-- Canton Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Cantón</h5>
                              <select
                                required
                                class="form-control"
                                name="canton"
                                ngModel
                                #canton="ngModel"
                                (click)="getDistrit(canton.value)"
                              >
                                <option *ngFor="let canton of cantons | keyvalue">
                                  {{ canton.value }}
                                </option>
                              </select>
                              <div
                                class="alert alert-danger"
                                *ngIf="canton.touched && !canton.valid"
                              >
                                Debe ingresar una cantón.
                              </div>
                            </div>
                            <!-- /Canton Input-->

                            <!-- Distict Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Distrito</h5>
                              <select
                                required
                                class="form-control"
                                name="distrit"
                                ngModel
                                #distrit="ngModel"
                              >
                                <option *ngFor="let distrit of distrits | keyvalue">
                                  {{ distrit.value }}
                                </option>
                              </select>
                              <div
                                class="alert alert-danger"
                                *ngIf="distrit.touched && !distrit.valid"
                              >
                                Debe ingresar una distrito.
                              </div>
                            </div>
                            <!-- /Distict Input-->

                            <!-- Address Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Dirección</h5>
                              <input
                                type="textarea"
                                class="form-control"
                                required
                                name="address"
                                ngModel
                                #address="ngModel"
                                placeholder="Dirección *"
                                value=""
                              />
                              <div
                                class="alert alert-danger"
                                *ngIf="address.touched && !address.valid"
                              >
                                Debe ingresar una dirección.
                              </div>
                            </div>
                            <!-- /Address Input-->

                            <!-- Pathology Input-->
                            <div class="form-group">
                              <h5 style="color: gray;">Patologías</h5>
                              <input
                                type="textarea"
                                class="form-control"
                                required
                                name="pathology"
                                ngModel
                                #pathology="ngModel"
                                placeholder="Patología *"
                                value=""
                              />
                              <input
                                type="textarea"
                                class="form-control"
                                required
                                name="medicine"
                                ngModel
                                #medicine="ngModel"
                                placeholder="Tratamiento *"
                                value=""
                              />
                              <div
                                class="alert alert-warning"
                                *ngIf="medicine.touched && !medicine.valid"
                              >
                                Debe ingresar datos para poder agregar.
                              </div>
                              <input
                                type="submit"
                                class="btnAdd"
                                value="Añadir"
                                [disabled]="
                                  !(pathology.valid && medicine.value)
                                "
                                (click)="
                                  addPathology(pathology.value, medicine.value)
                                "
                              />
                            </div>
                            <!-- /Pathology Input-->

                            <!-- Pathology table select  -->
                            <div class="form-group">
                              <h5 style="color: gray;">Lista de Pathologías</h5>
                              <div class="scrollbar" id="style-1">
                                <table
                                  class="table table-hover text-center"
                                  data-sort-order="desc"
                                >
                                  <thead>
                                    <tr>
                                      <th scope="col">Nombre</th>
                                      <th scope="col">Medicamento</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr
                                      class="align-middle"
                                      *ngFor="let pathology of pathologyList"
                                    >
                                      <td
                                        class="align-middle"
                                        (click)="deletePathology(pathology)"
                                      >
                                        {{ pathology.name }}
                                      </td>
                                      <td
                                        class="align-middle"
                                        (click)="deletePathology(pathology)"
                                      >
                                        {{ pathology.treatment }}
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- /Pathology table select  -->

                            <input
                              type="submit"
                              class="btnRegister"
                              value="Registrar"
                              (click)="send(name.value, lastName.value, dni.value, sex.value, password.value,
                            date.value, phone.value, province.value, canton.value, distrit.value, address.value)"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/Edit Medical history forms-->
          </div>
        </div>
        <!-- /Form -->
      </div>
    </div>
    <!-- /Page content holder -->
  </body>
</html>
