<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hospital Tecnológico</title>
</head>

<body>
    <!-- Vertical navbar -->
    <div class="vertical-nav" id="sidebar">
        <!-- Logo -->
        <div class="py-4 px-3 mb-4">
            <div class="media d-flex align-items-center">
                <img src="../../../../assets/images/logo.png" alt="..." width="100" class="mr-3 shadow-sm" />
                <div class="media-body">
                    <button type="button" class="btn" (click)="logout()">
              <img
                src="https://cdn4.iconfinder.com/data/icons/internet-security-flat-2/32/Internet_Security_entrance_exit_log_out_arrow-512.png"
                alt="button1"
                style="width: 35%; height: 35%;"
              />
              <div class="card-inner"></div>
            </button>
                </div>
            </div>
        </div>
        <!-- End Logo -->

        <!-- Views -->
        <ul class="nav flex-column mb-0">
            <li class="nav-item">
                <a href="salon" class="nav-link">
                    <i class="fa fa-th-large mr-3 text-primary fa-fw"></i> Gestión de Salones
                </a>
            </li>
            <li class="nav-item">
                <a href="procedure" class="nav-link">
                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i> Gestión de Procedimientos Médicos
                </a>
            </li>

            <li class="nav-item">
                <a href="equipment" class="nav-link">
                    <i class="fa fa-cubes mr-3 text-primary fa-fw"></i> Gestión de Equipo Médico
                </a>
            </li>
            <li class="nav-item">
                <a href="bed" class="nav-link">
                    <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i> Gestión de Camas
                </a>
            </li>
            <li class="nav-item">
                <a href="personal" class="nav-link">
                    <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i> Gestión de Personal
                </a>
            </li>
            <li class="nav-item">
                <a href="report" class="nav-link">
                    <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i> Reporte Áreas de Mejora
                </a>
            </li>
        </ul>
        <button type="button" class="btn" (click)="sincro()">
        <img
          src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678121-cloud-sync-512.png"
          alt="button1"
          style="
            width: 30%;
            height: 30%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20%;
          "
          class="center"
        />
        <div class="card-inner"></div>
      </button>
        <a class="font-weight-bold" href="https://github.com/BerthaBrenes/HospitalTecnologico-frontend" style="
      font-size: 18px;
      left: 48%;
      transform: translate(-50%, -50%);
      bottom: 0;
      color: white;
      text-align: center;
      font-weight: bold;
      position: absolute;
    ">
        Copyright: ORBE
</a>
        <!-- Views -->
    </div>
    <!-- End vertical navbar -->

    <!-- Horizontal navbar -->
    <div class="horizontal-nav" id="sidebar">
        <span class="px-3 navbar-brand mb-0 h1" style="font-size: 30px; font-weight: bold;">Gestión de Personal</span
      >
      <button
        type="button"
        class="btn"
        onclick=""
        (click)="personalCreate()"
        *ngIf="listPersonal"
        style="position: absolute; right: 5%;"
      >
        <img
          src="https://cdn3.iconfinder.com/data/icons/eightyshades/512/14_Add-512.png"
          alt="button1"
          style="width: 8%; height: 8%;"
        />
        <div class="card-inner"></div>
      </button>
      <button
        type="button"
        class="btn"
        onclick=""
        (click)="personalList()"
        *ngIf="createPersonal || viewPersonal"
        style="position: absolute; right: 5%;"
      >
        <img
          src="https://cdn4.iconfinder.com/data/icons/essential-app-2/16/back-left-arrow-botton-512.png"
          alt="button1"
          style="width: 8%; height: 8%;"
        />
        <div class="card-inner"></div>
      </button>
      <button
        type="button"
        class="btn"
        onclick=""
        (click)="personalView()"
        *ngIf="editPersonal"
        style="position: absolute; right: 5%;"
      >
        <img
          src="https://cdn4.iconfinder.com/data/icons/essential-app-2/16/back-left-arrow-botton-512.png"
          alt="button1"
          style="width: 8%; height: 8%;"
        />
        <div class="card-inner"></div>
      </button>
    </div>
    <!-- End horizontal navbar -->

    <!-- Page content holder -->
    <div class="page-content py-3" id="content">
      <div class="container" *ngIf="listPersonal">
        <!-- Table Haeder -->
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar" style="background-color: #255070;">
              <!-- Column title -->
              <div
                class="col-md-1"
                style="font-weight: bold; font-size: 20px; color: #ffffff;"
              >
                CÉDULA
              </div>
              <div
                class="col-md-2"
                style="font-weight: bold; font-size: 20px; color: #ffffff;"
              >
                NOMBRE
              </div>
              <div
                class="col-md-2"
                style="font-weight: bold; font-size: 20px; color: #ffffff;"
              >
                APELLIDOS
              </div>
              <div
                class="col-md-2"
                style="font-weight: bold; font-size: 20px; color: #ffffff;"
              >
                ROL
              </div>
              <!-- End column title -->
            </nav>
          </div>
        </div>
        <!-- End table Haeder -->

        <!-- Tables for the Personal -->
        <div class="col-md-12" style="background-color: white;">
          <div class="scrollbar" id="style-2">
            <table class="table table-hover" data-sort-order="desc">
              <tbody>
                <tr *ngFor="let x of personal" (click)="personalView(x)">
                  <td style="width: 23%;">
                    {{ x.dni }}
                  </td>
                  <td style="width: 30%;">
                    {{ x.name }}
                  </td>
                  <td style="width: 31%;">
                    {{ x.lastname }}
                  </td>
                  <td>
                    {{ x.role }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- End tables for the Personal -->
      </div>
      <!-- Information Form -->
      <div
        class="container"
        *ngIf="viewPersonal || createPersonal || editPersonal"
        style="margin-left: 3%; margin-top: 3%;"
      >
        <div class="row">
          <div
            class="col-md-3"
            style="
              background-color: white;
              border-top-left-radius: 20px;
              border-bottom-left-radius: 20px;
            "
          >
            <div>
              <img
                src="https://cdn0.iconfinder.com/data/icons/banking-and-money-13/32/banking_personal_manager-512.png"
                class="col-md-12"
                style="padding-top: 60px; padding-left: 20px;"
              />
            </div>
            <br />
            <br />
            <div>
              <button
                type="button"
                class="btn btn-info col-md-12"
                *ngIf="viewPersonal"
                (click)="personalEdit()"
              >
                Editar
              </button>
            </div>
            <br />
            <div>
              <button
                type="button"
                class="btn btn-danger col-md-12"
                *ngIf="viewPersonal"
                (click)="personalDelete()"
              >
                Eliminar
              </button>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-success col-md-12"
                *ngIf="createPersonal"
                (click)="personalCrear()"
              >
                Crear
              </button>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-success col-md-12"
                *ngIf="editPersonal"
                (click)="personalEditar()"
              >
                Actualizar
              </button>
            </div>
            <br />
          </div>

          <div
            class="col-md-8 register-right scrollbar"
            style="
              background-color: white;
              border-top-right-radius: 20px;
              border-bottom-right-radius: 20px;
            "
            id="style-2"
          >
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <br />
                <div class="row register-form">
                  <!-- First internal column -->
                  <div class="col-md-5" id="dataContainer">
                    <div class="form-group">
                      <h2 style="font-weight: bold;">Cedúla</h2>
                      <h3 *ngIf="viewPersonal">{{ personalDNI.dni }}</h3>
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="DniNewData"
                        placeholder="Cedúla"
                        *ngIf="createPersonal"
                        aria-label="labelID"
                      />
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="DniData"
                        value="{{personalDNI.dni}}"
                        *ngIf="editPersonal"
                        aria-label="labelID"
                        disabled
                      />
                    </div>
                    <div class="form-group">
                      <h2 style="font-weight: bold;">Nombre</h2>
                      <h3 *ngIf="viewPersonal">{{ personalDNI.name }}</h3>
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="NameNewData"
                        placeholder="Nombre"
                        *ngIf="createPersonal"
                        aria-label="labelID"
                      />
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="NameData"
                        value="{{personalDNI.name}}"
                        *ngIf="editPersonal"
                        aria-label="labelID"
                      />
                    </div>
                    <div class="form-group">
                      <h2 style="font-weight: bold;">Apellidos</h2>
                      <h3 *ngIf="viewPersonal">{{ personalDNI.lastname }}</h3>
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="LastNewData"
                        placeholder="Apellidos"
                        *ngIf="createPersonal"
                        aria-label="labelID"
                      />
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="LastData"
                        value="{{personalDNI.lastname}}"
                        *ngIf="editPersonal"
                        aria-label="labelID"
                      />
                    </div>
                    <div class="form-group">
                      <h2 style="font-weight: bold;">Teléfono</h2>
                      <h3 *ngIf="viewPersonal">{{ personalDNI.phone }}</h3>
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="PhoneNewData"
                        placeholder="Teléfono"
                        *ngIf="createPersonal"
                        aria-label="labelID"
                      />
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="PhoneData"
                        value="{{personalDNI.phone}}"
                        *ngIf="editPersonal"
                        aria-label="labelID"
                      />
                    </div>
                    <div class="form-group">
                      <h2 style="font-weight: bold;">Rol</h2>
                      <h3 *ngIf="viewPersonal">{{ personalDNI.role }}</h3>
                      <select class="form-control" id="RoleNewData" *ngIf="createPersonal">
                        <option *ngFor="let u of role" value="{{u}}"> {{u}} </option>
                      </select>
                      <select class="mr-sm-2" id="RoleData" *ngIf="editPersonal">
                        <option *ngFor="let u of role" value="{{u}}"> {{u}} </option>
                      </select>
                    </div>
                    <div class="form-group">
                      <h2 style="font-weight: bold;" *ngIf="viewPersonal || editPersonal">Edad</h2>
                      <h2 style="font-weight: bold;" *ngIf="createPersonal">Fecha de Nacimiento</h2>
                      <h3 *ngIf="viewPersonal">{{ personalDNI.age }}</h3>
                      <input
                        class="form-control mr-sm-2"
                        type="date"
                        id="DobNewData"
                        name="DobNewData"
                        *ngIf="createPersonal"
                        aria-label="labelID"
                      />
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="AgeData"
                        value="{{personalDNI.age}}"
                        *ngIf="editPersonal"
                        aria-label="labelID"
                        disabled
                      />
                    </div>
                    <div class="form-group"></div>
                  </div>
                  <!-- /First internal column -->

                  <div class="col-md-1"></div>

                  <!-- Second internal column -->
                  <div class="col-md-5" style="padding-left: 10px;">
                    <div class="form-group">
                      <h2 style="font-weight: bold;">Fecha de Ingreso</h2>
                      <h3 *ngIf="viewPersonal">{{ personalDNI.start_date }}</h3>
                      <input
                        class="form-control mr-sm-2"
                        type="date"
                        required
                        id="DateNewData"
                        name="DateNewData"
                        *ngIf="createPersonal"
                        aria-label="labelID"
                      />
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="DateData"
                        name="DateNewData"
                        value="{{personalDNI.start_date}}"
                        *ngIf="editPersonal"
                        aria-label="labelID"
                        disabled
                      />
                    </div>
                    
                    <!-- Provincia Input-->
                    <div class="form-group">
                      <h2 style="font-weight: bold;">Provincia</h2>
                      <h3 *ngIf="viewPersonal">{{ personalDNI.province }}</h3>
                      <select
                        required
                        class="form-control"
                        id="ProNewData"
                        *ngIf="createPersonal"
                        ngModel
                        #ProNewData="ngModel"
                        (click)="getCanton(ProNewData.value)"
                      >
                        <option *ngFor="let province of provinces | keyvalue">
                          {{ province.value }}
                        </option>
                      </select>
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="ProData"
                        value="{{personalDNI.province}}"
                        *ngIf="editPersonal"
                        aria-label="labelID"
                        disabled
                      />
                    </div>
                    <!-- /Provincia Input-->

                    <!-- Canton Input-->
                    <div class="form-group">
                      <h2 style="font-weight: bold;">Cantón</h2>
                      <h3 *ngIf="viewPersonal">{{ personalDNI.canton }}</h3>
                      <select
                                required
                                class="form-control"
                                name="CantonNewData"
                                ngModel
                                *ngIf="createPersonal"
                                #CantonNewData="ngModel"
                                (click)="getDistrit(CantonNewData.value)"
                              >
                                <option *ngFor="let canton of cantons | keyvalue">
                                  {{ canton.value }}
                                </option>
                      </select>
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="CantonData"
                        value="{{personalDNI.canton}}"
                        *ngIf="editPersonal"
                        aria-label="labelID"
                        disabled
                      />
                    </div>
                    <!-- /Canton Input-->

                    <!-- Distrit Input-->
                    <div class="form-group">
                      <h2 style="font-weight: bold;">Distrito</h2>
                      <h3 *ngIf="viewPersonal">{{ personalDNI.district }}</h3>
                      <select
                                required
                                class="form-control"
                                name="DisNewData"
                                id="DisNewData"
                                ngModel
                                *ngIf="createPersonal"
                                #DisNewData="ngModel"
                              >
                                <option *ngFor="let distrit of distrits | keyvalue">
                                  {{ distrit.value }}
                                </option>
                      </select>
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="DisData"
                        value="{{personalDNI.district}}"
                        *ngIf="editPersonal"
                        aria-label="labelID"
                        disabled
                      />
                    </div>
                    <!-- /Distrit Input-->

                    <div class="form-group">
                      <h2 style="font-weight: bold;">Otras señas</h2>
                      <h3 *ngIf="viewPersonal">{{ personalDNI.other_signs }}</h3>
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="OtherNewData"
                        placeholder="Otras señas"
                        *ngIf="createPersonal"
                        aria-label="labelID"
                      />
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="OtherData"
                        value="{{personalDNI.other_signs}}"
                        *ngIf="editPersonal"
                        aria-label="labelID"
                        disabled
                      />
                    </div>
                    <div class="form-group">
                      <h2 style="font-weight: bold;">UserName</h2>
                      <h3 *ngIf="viewPersonal">{{ personalDNI.username }}</h3>
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="UserNewData"
                        placeholder="UserName"
                        *ngIf="createPersonal"
                        aria-label="labelID"
                      />
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="UserData"
                        value="{{personalDNI.username}}"
                        *ngIf="editPersonal"
                        aria-label="labelID"
                      />
                    </div>
                    <div class="form-group">
                      <h2 style="font-weight: bold;" *ngIf="createPersonal">Contraseña</h2>
                      <input
                        class="form-control mr-sm-2"
                        type="password"
                        id="PassNewData"
                        placeholder="Contraseña"
                        *ngIf="createPersonal"
                        aria-label="labelID"
                      />
                    </div>
                  </div>
                  <!-- /Second internal column -->
                </div>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Information Form -->
    </div>
    <!-- End page content holder -->
  </body>
</html>