<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hospital Tecnológico</title>
  </head>
  <body>
    <!-- Vertical navbar -->
    <div class="vertical-nav" id="sidebar">
      <!-- Logo -->
      <div class="py-4 px-3 mb-4">
        <div class="media d-flex align-items-center">
          <img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png"
            alt="..."
            width="65"
            class="mr-3 shadow-sm"
          />
          <div class="media-body">
            <button type="button" class="btn" onclick="">
              <img
                src="https://cdn4.iconfinder.com/data/icons/internet-security-flat-2/32/Internet_Security_entrance_exit_log_out_arrow-512.png"
                alt="button1"
                style="width: 35%; height: 35%;"
              />
              <div class="card-inner"></div>
            </button>
          </div>
        </div>
      </div>
      <!-- End Logo -->

      <!-- Views -->
      <ul class="nav flex-column mb-0">
        <li class="nav-item">
          <a href="salon" class="nav-link">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
            Gestión de Salones
          </a>
        </li>
        <li class="nav-item">
          <a href="procedure" class="nav-link">
            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
            Gestión de Procedimientos Médicos
          </a>
        </li>

        <li class="nav-item">
          <a href="equipment" class="nav-link">
            <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
            Gestión de Equipo Médico
          </a>
        </li>
        <li class="nav-item">
          <a href="bed" class="nav-link">
            <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
            Gestión de Camas
          </a>
        </li>
        <li class="nav-item">
          <a href="personal" class="nav-link">
            <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
            Gestión de Personal
          </a>
        </li>
        <li class="nav-item">
          <a href="report" class="nav-link">
            <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
            Reporte Áreas de Mejora
          </a>
        </li>
      </ul>
      <button type="button" class="btn" onclick="">
        <img
          src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678121-cloud-sync-512.png"
          alt="button1"
          style="
            width: 30%;
            height: 30%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20%;
          "
          class="center"
        />
        <div class="card-inner"></div>
      </button>
      <p
        class="font-weight-bold"
        style="
          font-size: 18px;
          left: 48%;
          transform: translate(-50%, -50%);
          bottom: 0;
          text-align: center;
          font-weight: bold;
          position: absolute;
        "
      >
        Copyright: ORBE
      </p>
      <!-- Views -->
    </div>
    <!-- End vertical navbar -->

    <!-- Horizontal navbar -->
    <div class="horizontal-nav" id="sidebar">
      <span
        class="px-3 navbar-brand mb-0 h1"
        style="font-size: 30px; font-weight: bold;"
        >Gestión de Salones</span
      >
      <button
        type="button"
        class="btn"
        onclick=""
        (click)="salonCreate()"
        *ngIf="listSalon"
        style="position: absolute; right: 5%;"
      >
        <img
          src="https://cdn3.iconfinder.com/data/icons/eightyshades/512/14_Add-512.png"
          alt="button1"
          style="width: 8%; height: 8%;"
        />
        <div class="card-inner"></div>
      </button>
      <button
        type="button"
        class="btn"
        onclick=""
        (click)="salonList()"
        *ngIf="createSalon || viewSalon"
        style="position: absolute; right: 5%;"
      >
        <img
          src="https://cdn4.iconfinder.com/data/icons/essential-app-2/16/back-left-arrow-botton-512.png"
          alt="button1"
          style="width: 8%; height: 8%;"
        />
        <div class="card-inner"></div>
      </button>
      <button
        type="button"
        class="btn"
        onclick=""
        (click)="salonView()"
        *ngIf="editSalon"
        style="position: absolute; right: 5%;"
      >
        <img
          src="https://cdn4.iconfinder.com/data/icons/essential-app-2/16/back-left-arrow-botton-512.png"
          alt="button1"
          style="width: 8%; height: 8%;"
        />
        <div class="card-inner"></div>
      </button>
    </div>
    <!-- End horizontal navbar -->

    <!-- Page content holder -->
    <div class="page-content py-3" id="content">
      <div class="container" *ngIf="listSalon">
        <!-- Table Haeder -->
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar" style="background-color: #255070;">
              <!-- Column title -->
              <div
                class="col-md-1"
                style="font-weight: bold; font-size: 20px; color: #ffffff;"
              >
                ID
              </div>
              <div
                class="col-md-1"
                style="font-weight: bold; font-size: 20px; color: #ffffff;"
              >
                NOMBRE
              </div>
              <div
                class="col-md-1"
                style="font-weight: bold; font-size: 20px; color: #ffffff;"
              >
                CAPACIDAD
              </div>
              <div
                class="col-md-1"
                style="font-weight: bold; font-size: 20px; color: #ffffff;"
              >
                ESPECIALIDAD
              </div>
              <div
                class="col-md-1"
                style="font-weight: bold; font-size: 20px; color: #ffffff;"
              >
                PISO
              </div>
              <!-- End column title -->
            </nav>
          </div>
        </div>
        <!-- End table Haeder -->

        <!-- Tables for the Salon -->
        <div class="col-md-12" style="background-color: white;">
          <div class="scrollbar" id="style-2">
            <table class="table table-hover" data-sort-order="desc">
              <tbody>
                <tr *ngFor="let x of salon" (click)="salonView(x)">
                  <td style="width: 25%;">
                    {{ x.id }}
                  </td>
                  <td>
                    {{ x.name }}
                  </td>
                  <td style="width: 20%;">
                    {{ x.beds_qty }}
                  </td>
                  <td style="width: 22%;">
                    {{ x.type }}
                  </td>
                  <td style="width: 8%;">
                    {{ x.floor }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- End tables for the Salon -->
      </div>
      <!-- Information Form -->
      <div
        class="container"
        *ngIf="viewSalon || createSalon || editSalon"
        style="margin-left: 5%; margin-top: 5%;"
      >
        <div class="row">
          <div
            class="col-md-3"
            style="
              background-color: white;
              border-top-left-radius: 20px;
              border-bottom-left-radius: 20px;
            "
          >
            <div>
              <img
                src="https://cdn2.iconfinder.com/data/icons/maki/100/town-hall-512.png"
                class="col-md-12"
                style="padding-top: 60px; padding-left: 20px;"
              />
            </div>
            <br />
            <br />
            <div>
              <button
                type="button"
                class="btn btn-info col-md-12"
                *ngIf="viewSalon"
                (click)="salonEdit()"
              >
                Editar
              </button>
            </div>
            <br />
            <div>
              <button
                type="button"
                class="btn btn-danger col-md-12"
                *ngIf="viewSalon"
                (click)="salonDelete()"
              >
                Eliminar
              </button>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-success col-md-12"
                *ngIf="createSalon"
                (click)="salonCrear()"
              >
                Crear
              </button>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-success col-md-12"
                *ngIf="editSalon"
                (click)="salonEditar()"
              >
                Actualizar
              </button>
            </div>
            <br />
          </div>

          <div
            class="col-md-8 register-right"
            style="
              background-color: white;
              border-top-right-radius: 20px;
              border-bottom-right-radius: 20px;
            "
          >
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <br />
                <div class="row register-form">
                  <!-- First internal column -->
                  <div class="col-md-5" id="dataContainer">
                    <div class="form-group">
                      <h2 style="font-weight: bold;">Número del salón</h2>
                      <h3 *ngIf="viewSalon">{{ salonID.id }}</h3>
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="IdNewData"
                        placeholder="Número del salón"
                        *ngIf="createSalon"
                        aria-label="labelID"
                      />
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="IdData"
                        value="{{salonID.id}}"
                        *ngIf="editSalon"
                        aria-label="labelID"
                        disabled
                      />
                    </div>
                    <div class="form-group">
                      <h2 style="font-weight: bold;">Nombre del salón</h2>
                      <h3 *ngIf="viewSalon">{{ salonID.name }}</h3>
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="NameNewData"
                        placeholder="Nombre del salón"
                        *ngIf="createSalon"
                        aria-label="labelID"
                      />
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="NameData"
                        value="{{salonID.name}}"
                        *ngIf="editSalon"
                        aria-label="labelID"
                      />
                    </div>
                    <div class="form-group">
                      <h2 style="font-weight: bold;">Capacidad de camas</h2>
                      <h3 *ngIf="viewSalon">{{ salonID.beds_qty }}</h3>
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="BedsNewData"
                        placeholder="Capacidad de camas"
                        *ngIf="createSalon"
                        aria-label="labelID"
                      />
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="BedsData"
                        value="{{salonID.beds_qty}}"
                        *ngIf="editSalon"
                        aria-label="labelID"
                      />
                    </div>
                    <div class="form-group"></div>
                  </div>
                  <!-- /First internal column -->

                  <div class="col-md-1"></div>

                  <!-- Second internal column -->
                  <div class="col-md-5" style="padding-left: 10px;">
                    <div class="form-group">
                      <h2 style="font-weight: bold;">Especialidad</h2>
                      <h3 *ngIf="viewSalon">{{ salonID.type }}</h3>
                      <select class="mr-sm-2" id="TypeNewData" *ngIf="createSalon">
                        <option *ngFor="let u of types" value="{{u}}"> {{u}} </option>
                    </select>
                    <select class="mr-sm-2" id="TypeData" *ngIf="editSalon">
                      <option *ngFor="let u of types" value="{{u}}"> {{u}} </option>
                  </select>
                    </div>
                    <div class="form-group">
                      <h2 style="font-weight: bold;">Piso</h2>
                      <h3 *ngIf="viewSalon">{{ salonID.floor }}</h3>
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="FloorNewData"
                        placeholder="Piso"
                        *ngIf="createSalon"
                        aria-label="labelID"
                      />
                      <input
                        class="form-control mr-sm-2"
                        type="text"
                        id="FloorData"
                        value="{{salonID.floor}}"
                        *ngIf="editSalon"
                        aria-label="labelID"
                      />
                    </div>
                  </div>
                  <!-- /Second internal column -->
                </div>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Information Form -->
    </div>
    <!-- End page content holder -->
  </body>
</html>
