<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hospital Tecnológico</title>
  </head>
  <body>
    <!-- Vertical navbar -->
    <div class="vertical-nav" id="sidebar">
      <!-- Logo -->
      <div class="py-4 px-3 mb-4">
        <div class="media d-flex align-items-center">
          <img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png"
            alt="..."
            width="65"
            class="mr-3 shadow-sm"
          />
          <div class="media-body">
            <button type="button" class="btn" onclick="">
              <img
                src="https://cdn4.iconfinder.com/data/icons/internet-security-flat-2/32/Internet_Security_entrance_exit_log_out_arrow-512.png"
                alt="button1"
                style="width: 35%; height: 35%;"
              />
              <div class="card-inner"></div>
            </button>
          </div>
        </div>
      </div>
      <!-- End Logo -->

      <!-- Views -->
      <ul class="nav flex-column mb-0">
        <li class="nav-item">
          <a href="salon" class="nav-link">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
            Gestión de Salones
          </a>
        </li>
        <li class="nav-item">
          <a href="procedure" class="nav-link">
            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
            Gestión de Procedimientos Médicos
          </a>
        </li>

        <li class="nav-item">
          <a href="equipment" class="nav-link">
            <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
            Gestión de Equipo Médico
          </a>
        </li>
        <li class="nav-item">
          <a href="bed" class="nav-link">
            <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
            Gestión de Camas
          </a>
        </li>
        <li class="nav-item">
          <a href="personal" class="nav-link">
            <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
            Gestión de Personal
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
            Reporte Áreas de Mejora
          </a>
        </li>
      </ul>
      <button type="button" class="btn" onclick="">
        <img
          src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678121-cloud-sync-512.png"
          alt="button1"
          style="
            width: 30%;
            height: 30%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20%;
          "
          class="center"
        />
        <div class="card-inner"></div>
      </button>
      <p
        class="font-weight-bold"
        style="
          font-size: 18px;
          left: 48%;
          transform: translate(-50%, -50%);
          bottom: 0;
          text-align: center;
          font-weight: bold;
          position: absolute;
        "
      >
        Copyright: ORBE
      </p>
      <!-- Views -->
    </div>
    <!-- End vertical navbar -->

    <!-- Horizontal navbar -->
    <div class="horizontal-nav" id="sidebar">
      <span
        class="px-3 navbar-brand mb-0 h1"
        style="font-size: 30px; font-weight: bold;"
        >Gestión de Procedimientos Médicos</span
      >
      <button
        type="button"
        class="btn"
        onclick=""
        (click)="procedureCreate()"
        *ngIf="listProcedure"
        style="position: absolute; right: 5%;"
      >
        <img
          src="https://cdn3.iconfinder.com/data/icons/eightyshades/512/14_Add-512.png"
          alt="button1"
          style="width: 10%; height: 10%;"
        />
        <div class="card-inner"></div>
      </button>
      <button
        type="button"
        class="btn"
        onclick=""
        (click)="procedureList()"
        *ngIf="createProcedure || viewProcedure"
        style="position: absolute; right: 5%;"
      >
        <img
          src="https://cdn4.iconfinder.com/data/icons/essential-app-2/16/back-left-arrow-botton-512.png"
          alt="button1"
          style="width: 10%; height: 10%;"
        />
        <div class="card-inner"></div>
      </button>
    </div>
    <!-- End horizontal navbar -->

    <!-- Page content holder -->
    <div class="page-content py-3" id="content">
      <div class="container" *ngIf="listProcedure">
        <!-- Table Haeder -->
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar" style="background-color: #255070;">
              <!-- Column title -->
              <div
                class="col-md-1"
                style="font-weight: bold; font-size: 20px; color: #ffffff;"
              >
                NOMBRE
              </div>
              <div
                class="col-md-2"
                style="font-weight: bold; font-size: 20px; color: #ffffff;"
              >
                DÍAS
              </div>
              <div class="col-md-1"></div>
              <!-- End column title -->
            </nav>
          </div>
        </div>
        <!-- End table Haeder -->

        <!-- Tables for the reports -->
          <div class="col-md-12" style="background-color: white;"> 
            <div
              class="scrollbar"
              id="style-2"
            >
              <!-- Tables for the cleanliness -->
              <table
                class="table table-hover"
                data-sort-order="desc"
              >
                <tbody>
                  <tr *ngFor="let x of procedure" (click)="procedureView(x.nombre)">
                    <td style="width: 23%;">
                      {{ x.nombre }}
                    </td>
                    <td style="width: 30%;">
                      {{ x.dias }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- End tables for the cleanliness -->

            </div>
          </div>
          <!-- End tables for the reports -->
        </div>
      </div>
    <!-- End page content holder -->
  </body>
</html>
